<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3320584924-hav57nnm13iu3i3i65e2q3m2rarjbm40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3320584924-hav57nnm13iu3i3i65e2q3m2rarjbm40</string>
	<key>API_KEY</key>
	<string>AIzaSyCiSiRaFVuesaz7dZZM9OZI2TQ3eSgqbOI</string>
	<key>GCM_SENDER_ID</key>
	<string>3320584924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.schoolofsos.school-of-sos-prototype</string>
	<key>PROJECT_ID</key>
	<string>sos-rn-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>sos-rn-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3320584924:ios:b9917c54bc0b4dcd9fb219</string>
	<key>DATABASE_URL</key>
	<string>https://sos-rn-prototype.firebaseio.com</string>
</dict>
</plist>